.blurb-table {
  width: 80%;
  margin: auto;
}

.blurb-area {
  background-color: white;
  width: 50%;
}

.blurb {
  padding: 25px;
}

.paragraph {
  font-size: 25px;
}

.header {
  padding-bottom: 0px;
  text-align: center;
  font-family: 'Oswald', serif;
}

.filler {
  height: 100px;
  background-color: black;
  text-align: center;
}
