.footer {
  text-align: left;
  width: 100%;
  height: 100px;
  position: relative;
}

.footer span {
  position: absolute;
  bottom: 0%;
  left: 3%;
}

#copyright {
  color: white;
}

.social-media {
  width: 15%;
  height: 75%;
  margin: auto;
  position: absolute;
  bottom: 0%;
  left: 42.5%;
}

.social-media td {
  text-align: center;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 75%;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

.fa:hover {
    opacity: 0.7;
    color: white;
    text-decoration: none;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #E3006B;
  color: white;
}
