#main-table {
  width: 85%;
}

.table-img {
  text-align: center;
}

.img {
  width: 40%;
  height: auto;
  max-width: 300px;
}

#money-book {
  width: 50%;
  height: auto;
}

.header {
  text-align: left;
}
