body {
  background-color: black;
  margin-top: 150px;
}

.background-wrapper {
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: black;
}

.opening-toolbar {
  display: block;
  padding-left: -10%;
  width: 100%;
  height: 75px;
  background-color: white;
  position: fixed;
  top: 0%;
  z-index: 3;
}

#tool-table {
  width: 100%;
  height: 99%;
  z-index: 3;
  position: relative;
}

#tool-table td {
  border: 1px solid white;
  width: 20%;
  text-align: center;
}

#logo-table {
  width: 15% !important;
}

#logo {
  width: 85%;
  height: auto;
}

.tool-btns {
  width: 100%;
  height: 100%;
  background-color: #14A6F5;
  color: white;
  border: none;
}

.tool-btns:hover {
  background-color: rgb(20, 119, 245);
}

#sign-in {
  text-align: right !important;
  position: relative;
  right: 2%;
}

#sign-in-button {
  position: relative;
  right: 5%;
  cursor: pointer;
}

#sign-up-button {
  background-color: rgb(20, 166, 245);
  padding: 0.4em;
  position: relative;
  left: 5%;
  height: 100%;
  border: none;
  color: white;
}

#sign-up-button:hover {
  background-color: rgb(20, 119, 245);
}

#sign-up {
  text-align: left !important;
  position: relative;
  right: 2%;
}
